@view-transition {
  navigation: auto;
}
::view-transition-group(root) {
  animation-duration: 1s;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  :root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-100: hsl(0, 2%, 79%);
    --clr-brand-400: hsl(25, 88%, 75%);
    --clr-brand-500: hsl(25, 88%, 66%);
    --clr-green-300: hsl(143, 19%, 67%);
    --clr-green-400: hsl(143, 19%, 49%);
    --clr-green-500: hsl(143, 38%, 37%);
    --clr-green-600: hsl(145, 29%, 19%);
    --clr-brown-100: hsl(10, 5%, 92%);
    --clr-brown-200: hsl(9, 7%, 85%);
    --clr-brown-300: hsl(9, 8%, 78%);
    --clr-brown-400: hsl(0, 6%, 72%);
    --clr-brown-500: hsl(10, 5%, 25%);
    --clr-brown-600: hsl(9, 7%, 21%);
    --clr-brown-700: hsl(9, 8%, 16%);
    --clr-brown-800: hsl(0, 6%, 15%);
    --clr-brown-900: hsl(0, 6%, 13%);

    --clr-orange-500: hsl(28, 43%, 28%);
    --clr-red-500: hsl(359, 34%, 24%);
    --clr-teal-500: hsl(186, 42%, 25%);

    --ff-heading: "Outfit", sans-serif;
    --ff-body: "Fira Sans", sans-serif;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
      --fs-300: 0.875rem;
      --fs-400: 1rem;
      --fs-500: 1.25rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }

    /* primitives here */
  }
  :root {
    --text-main: var(--clr-gray-100);
    --text-high-contrast: var(--clr-white);
    --text-brand: var(--clr-brand-500);
    --text-brand-light: var(--clr-brand-400);

    --background-accent-light: var(--clr-green-400);
    --background-accent-main: var(--clr-green-500);
    --background-accent-dark: var(--clr-green-600);

    --background-extra-light: var(--clr-brown-500);
    --background-light: var(--clr-brown-600);
    --background-main: var(--clr-brown-700);
    --background-dark: var(--clr-brown-800);
    --background-extra-dark: var(--clr-brown-900);

    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-regular: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --font-size-sm: var(--fs-300);
    --font-size-regular: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);

    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.7rem;
    @media (prefers-color-scheme: light) {
      --text-main: var(--clr-brown-700);
      --text-high-contrast: var(--clr-900);

      --background-accent-light: var(--clr-green-600);
      --background-accent-main: var(--clr-green-500);
      --background-accent-dark: var(--clr-green-300);
      --background-extra-light: var(--clr-white);
      --background-light: var(--clr-brown-100);
      --background-main: var(--clr-brown-200);
      --background-dark: var(--clr-brown-300);
      --background-extra-dark: var(--clr-brown-400);
    }
  }
  html {
    line-height: 1.6;
    scroll-padding: 10rem;
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
  body {
    font-family: var(--ff-body);
    font-size: var(--font-size-regular);
    color: var(--text-main);
    background-color: var(--background-main);
    overflow-x: clip;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-heading);
    font-weight: 700;
    color: var(--text-high-contrast);
  }

  a {
    color: var(--text-high-contrast);
  }
  a:hover,
  a:focus-visible {
    color: var(--text-brand-light);
  }

  img {
    border-radius: var(--border-radius-3);
  }
}

@layer layout {
  .flex-grow {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .flow > * + * {
    margin-block-start: var(--flow-spacer, 1em);
  }
  .grid-flow {
    display: grid;
    gap: var(--grid-flow-gap, 1rem);
    &[data-gap="large"] {
      --grid-flow-gap: 2rem;
    }
  }
  .grid-auto-fill {
    --auto-fill-min-column-size: 250px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(var(--auto-fill-min-column-size, 450px), 100%), 1fr)
    );
  }
  .wrapper {
    --wrapper-max-width: 1130px;
    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: 1rem;
    box-sizing: content-box;
    &[data-width="wide"] {
      --wrapper-max-width: 1330px;
    }
    &[data-width="narrow"] {
      --wrapper-max-width: 720px;
    }
  }
  .section {
    --padding: 3.75rem;
    padding-block: var(--padding);
    @media (min-width: 760px) {
      --padding: 8rem;
      &[data-padding="compact"] {
        --padding: 4.5rem;
      }
    }
  }
  .equal-columns {
    display: grid;
    gap: var(--equal-columns-gap, 1rem);
    align-items: var(--column-layout-alignment, start);
    @media (min-width: 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
    &[data-gap="large"] {
      --equal-columns-gap: 2rem;
    }
    &[data-vertical-alignment="center"] {
      --column-layout-alignment: center;
    }
  }
}
@layer components {
  .skip-to-main:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .skip-to-main {
    background-color: var(--clr-green-500);
    font-size: var(--fs-600);
    padding: 1rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: var(--border-radius-3);
    color: white;
  }
  .site-header {
    padding-block: 1rem;
  }
  .site-header__inner {
    display: flex;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  [aria-controls="primary-nav"] {
    z-index: 100;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    display: none;

    img {
      border-radius: 0;
    }
  }
  .primary-navigation {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
    }
    a {
      text-decoration: none;
    }
    @media (max-width: 760px) {
      display: none;
      transform: translateX(100%);
      opacity: 0;
      position: absolute;
      transition: display 1s, transform 1s, opacity 1s;
      transition-behavior: allow-discrete;
      z-index: 10;
      top: 0;
      right: 0;
      font-size: var(--font-size-lg);
      font-weight: 700;
      font-family: var(--ff-heading);
      background-color: var(--background-accent-main);
      padding: 2rem;
      border-radius: 0 0 0 var(--border-radius-3);
      ul {
        gap: 0;
        flex-direction: column;
      }
      li {
        opacity: 0;
        translate: 100%;
        transition: opacity 300ms, translate 875ms;
        transition-delay: var(--delay, 125ms);
        &:nth-child(2) {
          --delay: 250ms;
        }
        &:nth-child(3) {
          --delay: 375ms;
        }
      }
      li + li {
        margin-block-start: 1rem;
        padding-block-start: 1rem;
        border-top: 2px solid var(--background-accent-light);
      }
    }
  }
  @media (max-width: 760px) {
    [aria-expanded="true"] ~ .primary-navigation {
      display: block;
      opacity: 1;
      transform: translateX(0%) translateY(0%);
      @starting-style {
        transform: translateY(-100%);
        opacity: 0;
      }
      li {
        opacity: 1;
        translate: 0;
        @starting-style {
          translate: 100%;
          opacity: 0;
        }
      }
    }
    [aria-controls="primary-nav"] {
      display: block;
    }
  }
  .hero {
    text-align: center;
    font-size: var(--font-size-md);
    color: light-dark(var(--clr-brown-100), var(--text-main));
    background-image: url(/assets/hero.webp);
    background-size: cover;
    background-position: center;
    .hero__title {
      font-size: var(--font-size-heading-lg);
      span {
        font-size: var(--font-size-heading-xl);
        display: block;
        color: var(--text-brand);
      }
    }
    animation: fade-out forwards;
    animation-timeline: view();
    animation-range-start: exit;
  }
  .mushroom-guide {
    --card-title-font-size: var(--font-size-lg);
    --card-title-color: var(--text-high-contrast);
    --card-gap: 0.75rem;
  }
  .faq-bento {
    --card-title-color: var(--text-high-contrast);
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "card-one"
      "card-two"
      "card-three"
      "card-four";
    @media (min-width: 600px) {
      grid-template-areas:
        "card-one card-two"
        "card-three card-four";
    }
    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "card-one card-two card-four"
        "card-three card-three card-four";
    }
    .card > img {
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: 600px) {
      .card:nth-child(even) > img {
        order: 3;
      }
    }
    .card:nth-child(1) {
      grid-area: card-one;
    }
    .card:nth-child(2) {
      grid-area: card-two;
    }
    .card:nth-child(3) {
      grid-area: card-three;
      @media (min-width: 900px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        img {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }
      }
    }
    .card:nth-child(4) {
      grid-area: card-four;
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap, 1rem);
    padding: 1rem;
    background-color: var(--background-light);
    border-radius: var(--border-radius-3);

    img {
      border-radius: var(--border-radius-2);
    }
    .card__title {
      font-size: var(--card-title-font-size, var(--font-size-heading-sm));
      color: var(--card-title-color, var(--text-brand));
    }
    .card__note {
      background-color: var(--background-extra-light);
      padding: 0.75rem;
      border-radius: var(--border-radius-2);
      margin-block-start: auto;
    }
  }
  .tag-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    li {
      font-family: var(--ff-heading);
      font-size: var(--font-size-sm);
      color: var(--text-high-contrast);
      padding: 0.125rem 0.25rem;
      background-color: var(--tag-bg, green);
      border-radius: var(--border-radius-1);
    }
    [data-edible="edible"] {
      --tag-bg: var(--background-accent-main);
    }
    [data-edible="toxic"] {
      --tag-bg: var(--clr-red-500);
    }
    [data-season="spring"] {
      --tag-bg: var(--clr-orange-500);
    }
    [data-season="summer"] {
      --tag-bg: var(--clr-teal-500);
    }
    [data-season="autumn"] {
      --tag-bg: var(--clr-brown-500);
    }
    [data-season="fall"] {
      --tag-bg: var(--clr-gray-100);
    }
  }
  .button {
    display: inline flex;
    cursor: pointer;
    font-family: var(--ff-heading);
    font-weight: 700;
    font-size: var(--font-size-md);
    text-decoration: none;
    color: var(--button-text, var(--text-high-contrast));
    background-color: var(--button-bg, var(--background-accent));
    padding: 0.5rem 1rem;
    border-radius: var(--button-br, var(--border-radius-1));
    &:hover,
    &:focus-visible {
      color: var(--button-text-hover, var(--text-high-contrast));
      background-color: var(--button-bg-hover, var(--background-accent-light));
    }
  }
  .site-footer {
    background-color: var(--background-dark);
    padding-block: 2rem;
    text-align: center;
    display: grid;
    gap: 2rem;

    a {
      text-decoration: none;
      color: var(--text-main);
      &:hover,
      &:focus-visible {
        color: var(--text-brand-light);
      }
    }
  }
  .site-footer__title {
    font-size: var(--font-size-lg);
    font-family: var(--ff-heading);
    font-weight: 700;
  }
  select {
    font-family: var(--ff-heading);
    font-size: var(--font-size-md);
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    background-color: var(--background-light);
    color: var(--text-high-contrast);
  }
}

@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .text-center {
    text-align: center;
  }
  .text-brand {
    color: var(--text-brand);
  }
  .text-high-contrast {
    color: var(--text-high-contrast);
  }

  .section-title {
    font-size: var(--font-size-heading-regular);
  }

  .background-base {
    background-color: var(--background-base);
  }
  .background-light {
    background-color: var(--background-light);
  }
  .background-extra-light {
    background-color: var(--background-extra-light);
  }
  .background-dark {
    background-color: var(--background-dark);
  }
  .background-extra-dark {
    background-color: var(--background-extra-dark);
  }

  .background-accent {
    background-color: var(--background-accent-dark);
  }

  .font-size-sm {
    font-size: var(--font-size-sm);
  }
  .font-size-regular {
    font-size: var(--font-size-regular);
  }
  .font-size-md {
    font-size: var(--font-size-md);
  }
  .font-size-lg {
    font-size: var(--font-size-lg);
  }
  [hidden] {
    display: none;
  }
  .resizing * {
    transition: none;
    animation: none;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
